*.Rtex
manCTMed-002-params.Rtex
manCTMed-003-results.Rtex

manCTMed-manuscript-001-introduction.Rtex
manCTMed-manuscript-002-example-1.Rtex
manCTMed-manuscript-003-example-2.Rtex
manCTMed-manuscript-004-example-3.Rtex
manCTMed-manuscript-005-simulation.Rtex
manCTMed-manuscript-006-empirical.Rtex
manCTMed-manuscript-007-discussion.Rtex
manCTMed-manuscript.Rtex
manCTMed-presentation.Rtex
manCTMed-supplement.Rtex
manCTMed-open-science.Rtex

manCTMed-zzz-references.Rtex
manCTMed-zzz-tests-external.Rtex
manCTMed-zzz-tests-internal.Rtex
manCTMed-zzz-tests-staging.Rtex

manCTMed-manuscript-MET-2024-1748-response.Rtex
manCTMed-manuscript-MET-2024-1748.Rtex
manCTMed-manuscript.Rtex
manCTMed-notes.tex
manCTMed-presentation.Rtex
manCTMed-supplement.Rtex
