manCTMed-manuscript-empirical.Rtex
manCTMed-manuscript-plots.Rtex
manCTMed-manuscript-simulation.Rtex
manCTMed-manuscript-tables.Rtex
manCTMed-manuscript.Rtex

manCTMed-zzz-references.Rtex
manCTMed-zzz-tests-external.Rtex
manCTMed-zzz-tests-internal.Rtex
manCTMed-zzz-tests-staging.Rtex
