name: Lint R Package

on:
  workflow_run:
    workflows: [ "Make Project" ]
    types:
      - completed
  workflow_dispatch:

jobs:
  lint:
    runs-on: ubuntu-latest
    container:
      image: ijapesigan/manctmed
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Lint
        run: |
          linters <- lintr::linters_with_defaults(
            lintr::object_name_linter(
              styles = c(
                "CamelCase",
                "snake_case",
                "symbols"
              )
            )
          )
          exclusions <- list(
            "renv",
            "packrat",
            ".library",
            file.path("R", "RcppExports.R")
          )
          keep <- vapply(
            X = exclusions,
            FUN = function(x) file.exists(x),
            FUN.VALUE = logical(1)
          )
          exclusions <- exclusions[keep]
          if (length(exclusions) == 0L) {
            lintr::lint_dir(
              path = ".",
              linters = linters
            )
          } else {
            lintr::lint_dir(
              path = ".",
              linters = linters,
              exclusions = exclusions
            )
          }
        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: true
